body {
    color: gray;
}

#container {
    width: 90%;
    box-shadow: 0 0 4px 1px silver;
    margin: 0 auto;
}

#header {
    height: 50px;
    text-shadow: 0 0 5px 1px white;
    background-color: silver;
    padding: 15px;
    color: white;
    font-size: 24px;
}

#menu {
    height: 35px;
    text-align: center;
    margin: 15px;
}

#content {
    min-height: 800px;
    margin: 15px;
}

#menu a {
    color: #00b4ff;
    font-size: 24px;
    text-decoration: none;
    padding: 15px;
    -webkit-transition: color 1s, -webkit-transform 1s;
    transition: color 1s, transform 1s;
}

    #menu a:hover {
        color: #444;
    }

.tableFull {
    text-align: left;
    width: 98%;
    margin: 1%;
    background: #ffffff;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    height: 300px;
}

    .tableFull > tbody {
        background: white;
    }

    .tableFull > tfoot {
        height: 75px;
    }

    .tableFull > tbody > tr > td {
        color: #666666;
        border-bottom: 1px dashed darkgray;
        padding: 10px;
        height: 25px;
        width: 30%;
    }

    .tableFull > tbody > tr:hover > td {
        color: #444444;
        background: #e5e5e5;
    }
