<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/blog.js"></script>

</head>
<body>
    <div id="container" class="shadowBox">
        <div id="header" class="shadowBox"><a href="/Home">Mehmet Yıldız Kişisel Blog Sayfası</a></div>
        <div id="content">
            <div id="leftBar" class="shadowBox">
                <div id="profile">
                    <img src="/Content/img/mehmet_yildiz.png"/><br/>
                </div>
                @Html.Action("_KategoriPartial", "Home")
            </div>
            <div id="rightBar" class="shadowBox">@RenderBody()</div>
        </div>
        <div class="clearer"></div>
    </div>
</body>
</html>
