@model MvcBlog.Models.ViewModelYorum

<div id="yorum">
    
    <h1>Yorum Yaz</h1>
   
        @Html.HiddenFor(x=>x.MakaleId)
        @Html.TextBoxFor(x => x.Yazan, new {placeholder = "Ad Soyad"})<br/><br/><br/>
        @Html.TextAreaFor(x => x.Icerik, new {placeholder = "Yorumunuz", rows = 5})<br/><br/><br/>
        <input type="button" value="Gönder" onclick="YorumGonder();"/><span id="spanResult"></span>
    
</div>
